.gameover > .title {
    text-transform: uppercase;
    letter-spacing: 10px;
}
.gameover > .restart {
    cursor: pointer;
    background-color: #ffffff;
    padding: 0.2rem 6rem;
    border-radius: 1rem;
    transition: 0.5s cubic-bezier(0, 0, 0, 1);
}
.gameover > .restart:hover {
    border-radius: 2rem;
    padding: 0rem 10rem;
}

.gameover {
    background-color: #ffffff4c;
    position: absolute;
    width: 500px;
    height: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: 2rem;
    left: 0px;
    top: 0px;
    z-index: 2;
}
.score {
    position: absolute;
    left: 250px;
    font-size: 1.5rem;
    margin: 1rem 2rem;
    width: 200px;
    height: 200px;
    text-align: right;
    color: white;
    z-index: 3;
    top: 0px;
}

canvas {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 0;
}

.simkeys {
    position: absolute;
    top: 500px;
    display: flex;
    padding: 1rem;
    width: 450px;
    left: 0px;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 3rem;
    overflow: hidden;
}

.simkeys > * {
    cursor: pointer;
    padding: 2rem;
    margin: 0.1rem;
    border-radius: 1rem;
    width: 2rem;
    /* background-color: #ccc; */
    text-align: center;
}
